<ion-header>
  <ion-toolbar>
    <ion-title>
      Tu acceso challenge
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content forceOverscroll="false">
  <ion-grid>

    <ion-row no-padding align-items-center>
      <ion-col size="12" class="q2">
        <div class="q-header">New Item</div>
        <ion-list dragula="bag" [(dragulaModel)]="newItem" id="up">
          <ion-item *ngFor="let item of newItem" [color]="item.color" expand="block" text-wrap>
            <ion-input [disabled]="!item.editable" [(ngModel)]="item.value" (dblclick)="setEditable(item)"
              (change)="saveData()" placeholder="Write something and drop"></ion-input>
          </ion-item>
          {{charCounter(newItem[0].value)}}
        </ion-list>
      </ion-col>
    </ion-row>

    <ion-row no-padding class="matrix">
      <ion-col size="12" class="q1">
        <div class="q-header">Quoue 1</div>
        <ion-list dragula="bag" [(dragulaModel)]="items" id="down">
          <ion-item *ngFor="let item of items | slice:0:page" [color]="item?.color" expand="block"
            text-wrap>
            <ion-input [disabled]="!item?.editable" [(ngModel)]="item.value" (dblclick)="setEditable(item)"
              (keyup)="saveData()"></ion-input>
          </ion-item>
          <ion-infinite-scroll threshold="100px" (ionInfinite)="infinitScrolData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row class="delete-area" align-items-center justify-content-center>
    <ion-icon name="trash" color="medium"></ion-icon>
  </ion-row>
  <ion-button (click)="clearData()" color="danger" expand="block" fill="outline">Clear storage</ion-button>

</ion-content>